ng-container {
  max-resolution: 10px;
  padding: 10px;
  margin: 10px;
}

td.mat-cell {
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
}

.tableContainer {
  width: 80%;
  margin: 2%;
}

.mat-button {
  text-align: center;
  margin: 2%;
}

.material-icons {
  cursor: pointer;
}
