.show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.align-list {
  width: 100%;
  text-align: center;
  font: 400 45px/48px Roboto,"Helvetica Neue",sans-serif;
  letter-spacing: -.005em;
}

