<nav class="bottom-nav">
  <mat-toolbar color="primary">
    <div class="example-button-row">
      <a mat-button routerLink=".">Les nouveautés</a>
      <a mat-button routerLink=".">Les cinémas dans votre ville</a>
      <a mat-button routerLink=".">A propos</a>
      <a mat-button routerLink=".">Liens utiles</a>
      <a mat-button routerLink=".">Mentions légales</a>
      <a mat-button routerLink=".">Politique de confidentialité</a>
      <a mat-button routerLink="/admin">Administration</a>
    </div>
  </mat-toolbar>
</nav>

<nav class="bottom-nav legal">
  <mat-toolbar color="primary">
    <span class="footer-item">Les Cinémas GoMax © 2020 — Tous droits réservés ® </span>
  </mat-toolbar>
</nav>
